extends layout 
include _includes/sharedHTMLfunctions


block content 
    .row.banner
        .col-12 
            h1 Parchi Calisthenics 
        .row
            .col-12.col-lg-9
                .row
                    .col-12.col-md-6
                        p rating 
                            +outputRating(locationData.rating)
                        p= locationData.address
                        .card.card-primary
                            .card-block 
                                h2.card-title Attrezzi &nbsp;
                                each tool in locationData.facilities
                                    span.badge.badge-warning
                                        i.fa.fa-check= tool
                                    
                    .col-12.col-md-6.location-map 
                        .card.card-primary 
                            h2.card-title Mappa
                            
                            img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=45.5247845,10.2409879&zoom=17&size=400x350&sensor=false&markers=45.5247845,10.2409879&scale=2&key=AIzaSyBQhlMSrNlEgL2Ps_14LBC0WzARMrXOcvE')
                    .row 
                            .col-12 
                                .card.card-primary.review-card
                                    .card-block
                                        a.btn.btn-primary.float-right(href='/location/review/new') Aggiung review 
                                        h2.card-title Review degli utenti
                                        each comment in comments  
                                            .row.review
                                                .col-12.no-gutters.review-header
                                                    span.rating    
                                                        +outputRating(comment.rating)
                                                    span.reviewAuthor= comment.author
                                                    small.reviewTimestamp=comment.time                                           
                                                .col-12
                                                    p= comment.content 
                                        
                                            
                                        .row.review 
                                                .col-12.no-gutters.review-header    
                                                    span.rating
                                                        i.fas.fa-star
                                                        i.fas.fa-star
                                                        i.fas.fa-star
                                                        i.far.fa-star
                                                        i.far.fa-star
                                                    span.reviewAuthor Marco Carta &nbsp;
                                                    small.reviewTimestamp 30 Dicembre 2021
                                                .col-12 
                                                    p Ci sono Negozi nei dintorni?
            .col-12.col-lg-3
                p.lead Questa è una prova vediamo come viene questa recensione 
                p Aggiungi un parco se ne sei a conoscenza 
                             

